$MainColorText: #16271B;
$SecondColorText: #626B5F;
$AdditionalColorText: #1BB400;
$FontFamily: 'Manrope', sans-serif;
$TitleFontFamily: 'Arsenal', sans-serif;
$AdditionalFontFamily: 'Kalissa', sans-serif;
$time: 0.3s;
