@use '/resources/scss/common/variables';

@media (max-width: 1400px) {
    .header__content{
        gap: 30px;
    }
    .header__nav ul{
        column-gap: 25px;
    }
    .header__left{
        gap: 30px;
    }
}

@media (max-width: 1100px) {
    .header{
        padding: 12px 0;
    }
    .header__nav,
    .header__left{
        display: none;
    }
    .header__logo{
        width: 71px;
    }
}

@media (max-width: 768px) {
    .header_top {
        display: none;
    }

    .header_middle__content .header-burger {
        margin-right: 10px;
    }

    .header_middle__content .header-search_mobile {
        margin-right: 10px;
    }

    .header_middle-logo {
        flex: 0 0 90px;

        a {
            width: 90px;
        }
    }
}

@media (max-width: 576px) {
    .header_middle-login .login-popup {
        left: 0;
        right: 0;
        width: unset;
    }
}
