@use '/resources/scss/common/variables';

.about {
    padding: 100px 0 109px;

    &__content{
        h3{
            text-indent: 220px;
            margin-top: -50px;
        }

        table{
            tr{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 32px;

                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                color: variables.$SecondColorText;
            }
        }
    }
}
